<li>
	{{name}}

	<button class="change-state" data-id="{{id}}" data-munch-status="{{isEaten}}">
		{{#if isEaten}}REGURGITATE{{else}}DEVOUR{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">SEND IT BACK</button>
</li>
